.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
	border-radius: 15px;

}
  .toggle.ios .toggle-handle { 
  	border-radius: 15px;
  	}
 .toggle-off {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 60%;
    right: 0px;
    margin: 0px;
    border: 0px none;
    border-radius: 0px;
}
  
 .slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
 .fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
 .quick .toggle-group { transition: none; -webkit-transition: none; }
 
.side-menu-buttons {
    float: right;
    padding-right: 30px:
}



.buttonLabel {
	align-text:center;
	padding-left: 38px;
	color:#428bca;
}
.buttonRow {
	padding-right: 30px;
	padding-top: 10px;
}
.panel-transparent {
      background: none;
      background-image: url("/static/img/background3.jpg");
      background-repeat: no-repeat;
      background-size:contain;
}



.panel-transparent .panel-heading{
        background: rgba(196, 178, 155, 0.2)!important;
}

.panel-transparent .panel-body{
        background: rgba(196,178,155, 0.2)!important;
}
.panel-transparent .panel-footer{
        background: rgba(196,178,155, 0.2)!important;
}
input {
  background: rgba(240, 240, 240, 0.7)!important;
	
}


 .form-group-large, .form-group-lg {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width:107%;
    }

    
 cite {
	color: #006621;
	font-size:x-small;
	font-style: normal;
 } 
    
 .metadata{
 	color: #545454;
	font-size:x-small;
	font-style: normal;
 }
 
 * {
    font-family: Segoe UI;
    font-site: 9pt;
}

/* http://jsfiddle.net/Q7fRB/1/ */
#searchbox {
    padding: 20px 20px 20px 3px;
}

#clear {
    text-indent: -1000em;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(http://p.yusukekamiyamane.com/icons/search/fugue/icons/cross.png);
    background-repeat: no-repeat;
    position: relative;
    left: -120px;
    top: -10px;
}



 